{% extends "nav_panel.html" %}
{% load app_buttons %}
<!--{% load pagination %}-->

{% block main %}
<div class="row" style="margin:5px;">
    <div class="col-lg-8">
        <h2 style="color: black;">
            <a style="text-decoration: none; color: black;" href="{% url 'all_apps'%}#downloads">Community Favorites</a>
        </h2>
    </div>
    <div class="col-lg-4">
        <a href="{% url 'submit-app' %}" class="btn btn-success submit-app pull-right" role="button" aria-disabled="true" style="margin-top:5px;">
            <strong>Submit your App »</strong>
        </a>
    </div>
</div>

<div class="row" style="margin:5px;">
    <div class="col-lg-12" style="margin-top:10px;">
        {% app_buttons downloaded_apps_pg %}
    </div>
</div>

<a style="display: none;" href="/media/fu.txt">fu skript kiddiez</a>
{% endblock %}
